body{
	margin:0;
}
main{
	height:100vh;
	width: 100%;
}

.to-do-list-area,.form-area{
	width:50%;
	height:100%;
}

.form,.search-box{
	margin:20px 0;
	display: flex;
	width:100%;
}

.form input, .search-box input{
	flex:1;
}

.to-do-box{
	background:var(--primary-color);
	padding:10px;
	border-radius:5px;
	color:white;
	width:200px;
	height:200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:1.3rem;
	position:relative;
}

.close-btn{
	height:20px;
	width: 20px;
	padding:3px;
	border-radius: 16px;
	background:white;
	color:var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:2px;
	right:2px;
}