/*layouting*/
.d-flex{
	display: flex;
}

.space-between{
	display: flex;
	justify-content: space-between;
}

/*wrapper*/
.wrapper{
	padding:var(--wrapper-padding);
	box-sizing: border-box;
}

/* components*/
.card{
	border-radius: 5px;
	border:1px solid var(--primary-color);
	padding:10px;
	box-shadow: var(--card-shadow);
}

input{
	padding:10px 15px;
	background:transparent;
	border:1px solid rgba(0,0,0,0.22);
}

.btn{
	padding:10px 15px;
	background:var(--primary-color);
	border-radius: 3px;
	box-shadow: var(--card-shadow);
	border:none;
	color:white;
}