:root{
	--primary-color:#f44336;
	--secondary-color:#f44336;
	--content-color:#7e7e7e;

	--title-font:"Roboto Slab", sans-serif;
	--content-font:"Quicksand", sans-serif;

	--title-font-size:1.3rem;

	--card-shadow:1px 1px 4px rgba(0,0,0,0.12);

	--wrapper-padding:0 3vw;
/*	--success-color:;
	--warning-color:;
	--danger-color:;*/
}